
<!DOCTYPE html>
<html>
<head>
  <title>Grocery Hub: Groceries as a Service (GaaS)</title>
  <!-- START:stylesheet -->

  <%= stylesheet_link_tag "application", :media => "all" %><!-- <label id="code.slt"/> -->
  <!-- END:stylesheet -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->

  <!--Le Enils custom styling -->
  <style type="text/css">
      body
      {
          background: #000 url(../assets/images/bg.png) repeat;
      }

      div.center
      {
          margin-left:auto;
          margin-right:auto;
          width:70%;
          text-align:left;
          width:960px;
          min-height:740px;
          background: #DBDBDB;
          padding: 15px;
      }
      div.headline
      {
          margin-left:auto;
          margin-right:auto;

          text-align:left;
          width:960px;

          background: #C5C5C5;
          padding: 15px;
      }

  </style>
  <!--Le Enils custom styling End -->
</head>
<body id="store">

<div class="headline">
  <img class="" src="../assets/images/ghub.png" width="900px"/>
</div>
<div class="center">


  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#"><i>Grocery Hub</i></a>
      <ul class="nav">
        <li id="nav_home"><a href="/">Home</a></li>
        <li id="nav_products"><a href="/products">Manage</a></li>
        <li id="nav_cart"><a href="/carts">Cart</a></li>
      </ul>

    <form class="navbar-form pull-right" action='/search' method="get">
      <input type="text" class="span2" id="searchID" name="searcher">
      <button type="submit" class="btn">Submit</button>
    </form>
    </div>
  </div>
  <hr />


  <!-- Content goes underneath here, view-content dumped here -->
  <div class="container">

  <%= yield %>
  <!-- end content -->
  </div>
</div>
</body>
</html>
